
body {
  margin: 0;
  background-color: black;
}

h1 {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.playfield {
        position: relative;
				background-color: white;
				height: 70%;
				width: 70%;


			}

#player_left {
    position: absolute;
    background-color: red;
    height: 30%;
    width: 3%;
    bottom: 2px;
    left: 2px;
  }

.player_right {
  position: absolute;
  background-color: red;
  height: 30%;
  width: 3%;
  top:  2px;
  right: 2px;

}



.ball{
  position: absolute;
  background-color: red;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  top:  50%;
  left: 50%;

}
